
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to TopDoc 🩺</title>
    <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel = "stylesheet" href="mailStyle.css">
  
</head>
<body>
<div class="container">
            <div class="header">
              <img src="https://st3.depositphotos.com/2249091/13081/i/600/depositphotos_130811568-stock-photo-doctors-of-medicine-talking.jpg" alt="Logo">
            </div>
            <div class="content"> 
            