<h1 style="text-align: center; color: #008CBA;">Appointment has been delayed</h1>

<h1 >Hello {{name}},</h1> 

<p>Sorry to inform you that the session you have booked for consultation is delayed by your doctor.</p>